.edgeTooltips {
  position: absolute;
  left: -300px;
  top: -100px;
  height: 100px;
  padding: 10px;
  border: 1px solid #36cfc9;
  background: #bae7ff;
}
.nodeTooltips {
  position: absolute;
  left: -300px;
  top: -100px;
  height: 160px;
  padding: 10px;
  border: 1px solid #36cfc9;
  background: #e6fffb;
}
